<ion-view title="Home" animation="slide-left-right" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ui-sref="app.countries">Change</button>
    </ion-nav-buttons>
    <div class="bar bar-subheader">
        <ion-spinner icon="spiral"  ng-show="isSavingPhoto" ></ion-spinner>
        <h2 class="title title-right">{{page}}</h2>
        <h2 class="title title-left"
            ng-show="isHomeSet"
            ui-sref="app.country-index({code: country.alpha3Code})">{{country.name}}</h2>
    </div>
    <ion-content class="has-subheader center has-footer">
        <div ng-hide="isHomeSet" class="center">
            <h2 class="title">Home country not set!</h2>
        </div>
        <div class="center" ng-show="isServerWrong">
            <h2>No results found!</h2>
            <p>Sorry for that but the server is a big fat liar :)</p>
            <p>Please try with lower page number.</p>
        </div>
        <ion-list class="country-photos-list">
            <ion-item collection-repeat="photo in photos">
                <h3>{{photo.photo_title}}</h3>
                <img class="country-photo" 
                     on-hold="savePhoto($index)" 
                     ng-src="{{photo.photo_file_url}}" />
            </ion-item>
        </ion-list>
        <button class="button button-block button-calm"
                on-touch="loadImages(false)"
                ng-show="isHomeSet" 
                ng-disabled="!hasMore">Load page {{page + 1}}</button>
    </ion-content>
    <div class="bar bar-footer bar-assertive">
        <button class="button button-icon icon ion-arrow-up-c" on-touch="scrollToTop()"></button>
        <button class="button button-icon icon ion-arrow-down-c" on-touch="scrollToBottom()"></button>
        <div class="title title-right">
            <span>{{pagesCount}} pages </span>
            <span>starting from:</span>
            <input class="page-input item-input-wrapper" type="number" ng-model="startPage"/>
        </div>
        <button class="button button-icon icon ion-loop" on-touch="reloadImagesFromPage()"></button>
    </div>
</ion-view>