/* 
    Common styles 
*/

@font-face {
    font-family: scream-font;
    src: url(../fonts/hemi.ttf);
}

body.platform-android{
    font-family: 'RobotoRegular', 'Droid Sans', sans-serif;
}


body.platform-ios{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body, div, p, ul, li, h1, h2, h3{
    margin: 0;
    padding: 0;
}

.bar-header > .title{
    font-weight: 600;
}

.center{
    text-align: center;
    align-content: center;
}

div.bar > .title-left{
    padding-left: 20px;
    font-weight: bold;
    font-size: 1.3em;
}

div.bar-footer > .title-right{
    padding-right: 45px;
    font-size: 1.1em;
}


/*
    Menu styles 
*/

.bar-balanced h1{
    color: white;
}


/*
    Splashscreen styles
*/

ion-content .scroll{
    height: 100%;
}

.splash-logo{
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 60px;
    left: 0;
}

.splash-logo img{
    width: 320px;
}

.hasSubheader{
    top: 88px;
}


/* 
    Home country styles 
*/


input.page-input{
    display: inline-block;
    width: 60px;
    padding: 5px;
    text-align: right;
    height: 25px;
}

.country-photos-list ion-item{
    border: none;
    padding: 5px;
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.country-photos-list h3{
    font-size: 1.1em;
}

.country-photo{
    background-image: url("../img/ios7-download-outline.png");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    min-width: 360px;
    min-height: 200px;
    max-width: 95%;
}


/* Countries list styles */
.country-item{
    font-size: 1.3em !important;
}

#countries-list ion-item i{
    position: absolute;
    top: 20px;
    right: 10px;
}

#countries-list ion-item:nth-child(even) a{
    background: #33CD5F;
}

#countries-list ion-item:nth-child(even) h2{
    color: white;
}

.country-info p{
    display: inline-block;
    min-width: 160px;
}

.country-info p strong{
    color: black;
}

.country-info p span{
    font-style: italic;
}

/* Country detail styles */

.col img.flag-image{
    width: 180px;
    height: 100px;
}

.detail-info{
    margin: 10px auto;
    width: 90%;
    background: lightgrey;
    border: 1px solid darkgrey;
    border-radius: 5px;
}

/* Map styles */
#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}